.Topnav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 70px;
  border-bottom: 1px solid #e2e2e2;
  /* box-shadow: 0px 0px 10px 5px rgba(200, 200, 200, 0.1); */
  background-color: #fff;
  /* background-color: #6f4cef; */
}

.Topnav .leadzilla-logo {
  height: 50px;
  margin: 0px 10px 0px 20px;
}
