* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.Settings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: #f5f9fc;
  overflow: hidden;
}
